.magic{
    background-color: black;
    position: relative;
    bottom: 12px;
    border-radius: 10px 0px 10px 0px;
    color: white;
}
.magic-images{
    background-image: linear-gradient(black, gray);
    padding-top: 10px;
    position: relative;
    bottom: 28px;
}

#pokemon{
    color: white;
}

.texto-slider-pkmn{
    position: relative;
    top: 20px;
}

.texto-slider-pkmn-2{
    position: relative;
    top: 45px;
    color: black;
}